:root{
  /* Primary */
  --grmblgbr--ref--palette--p0: #000000;
  --grmblgbr--ref--palette--p10: #271900;
  --grmblgbr--ref--palette--p20: #422C00;
  --grmblgbr--ref--palette--p30: #5F4100;
  --grmblgbr--ref--palette--p40: #7D5700;
  --grmblgbr--ref--palette--p50: #9A6F19;
  --grmblgbr--ref--palette--p60: #B78932;
  --grmblgbr--ref--palette--p70: #D5A34A;
  --grmblgbr--ref--palette--p80: #F3BE62;
  --grmblgbr--ref--palette--p90: #FFDEAB;
  --grmblgbr--ref--palette--p95: #FFEED9;
  --grmblgbr--ref--palette--p99: #FFFBFF;
  --grmblgbr--ref--palette--p100: #FFFFFF;
  /* Secondary */
  --grmblgbr--ref--palette--s0: #000000;
  --grmblgbr--ref--palette--s10: #241A08;
  --grmblgbr--ref--palette--s20: #3B2F1A;
  --grmblgbr--ref--palette--s30: #52452F;
  --grmblgbr--ref--palette--s40: #6B5C45;
  --grmblgbr--ref--palette--s50: #85755C;
  --grmblgbr--ref--palette--s60: #A08E74;
  --grmblgbr--ref--palette--s70: #BBA98D;
  --grmblgbr--ref--palette--s80: #D8C4A7;
  --grmblgbr--ref--palette--s90: #F5E0C2;
  --grmblgbr--ref--palette--s95: #FFEED9;
  --grmblgbr--ref--palette--s99: #FFFBFF;
  --grmblgbr--ref--palette--s100: #FFFFFF;
  /* Tertiary */
  --grmblgbr--ref--palette--t0: #000000;
  --grmblgbr--ref--palette--t10: #101F0A;
  --grmblgbr--ref--palette--t20: #24351D;
  --grmblgbr--ref--palette--t30: #3A4C32;
  --grmblgbr--ref--palette--t40: #516448;
  --grmblgbr--ref--palette--t50: #6A7D5F;
  --grmblgbr--ref--palette--t60: #839677;
  --grmblgbr--ref--palette--t70: #9DB191;
  --grmblgbr--ref--palette--t80: #B8CDAB;
  --grmblgbr--ref--palette--t90: #D4E9C6;
  --grmblgbr--ref--palette--t95: #E2F7D3;
  --grmblgbr--ref--palette--t99: #F7FFED;
  --grmblgbr--ref--palette--t100: #FFFFFF;
  /* Error */
  --grmblgbr--ref--palette--e0: #000000;
  --grmblgbr--ref--palette--e10: #410002;
  --grmblgbr--ref--palette--e20: #690005;
  --grmblgbr--ref--palette--e30: #93000A;
  --grmblgbr--ref--palette--e40: #BA1A1A;
  --grmblgbr--ref--palette--e50: #DE3730;
  --grmblgbr--ref--palette--e60: #FF5449;
  --grmblgbr--ref--palette--e70: #FF897D;
  --grmblgbr--ref--palette--e80: #FFB4AB;
  --grmblgbr--ref--palette--e90: #FFDAD6;
  --grmblgbr--ref--palette--e95: #FFEDEA;
  --grmblgbr--ref--palette--e99: #FFFBFF;
  --grmblgbr--ref--palette--e100: #FFFFFF;
  /* Neutral */
  --grmblgbr--ref--palette--n0: #000000;
  --grmblgbr--ref--palette--n5: #17130B;
  --grmblgbr--ref--palette--n10: #1D1B19;
  --grmblgbr--ref--palette--n20: #32302D;
  --grmblgbr--ref--palette--n30: #494643;
  --grmblgbr--ref--palette--n40: #615E5B;
  --grmblgbr--ref--palette--n50: #7A7673;
  --grmblgbr--ref--palette--n60: #94908C;
  --grmblgbr--ref--palette--n70: #AFAAA7;
  --grmblgbr--ref--palette--n80: #CBC5C1;
  --grmblgbr--ref--palette--n90: #E7E1DD;
  --grmblgbr--ref--palette--n95: #F6F0EB;
  --grmblgbr--ref--palette--n99: #FFFBFF;
  --grmblgbr--ref--palette--n100: #FFFFFF;
  /* Neutral variant */
  --grmblgbr--ref--palette--nv0: #000000;
  --grmblgbr--ref--palette--nv10: #201B12;
  --grmblgbr--ref--palette--nv20: #362F26;
  --grmblgbr--ref--palette--nv30: #4D463B;
  --grmblgbr--ref--palette--nv40: #655D52;
  --grmblgbr--ref--palette--nv50: #7F766A;
  --grmblgbr--ref--palette--nv60: #998F83;
  --grmblgbr--ref--palette--nv70: #B4AA9C;
  --grmblgbr--ref--palette--nv80: #D0C5B7;
  --grmblgbr--ref--palette--nv90: #EDE1D2;
  --grmblgbr--ref--palette--nv95: #FBEFE0;
  --grmblgbr--ref--palette--nv99: #FFFBFF;
  --grmblgbr--ref--palette--nv100: #FFFFFF;
}
