:root.is-dark {
  --grmblgbr--sys--primary: var(--grmblgbr--ref--palette--p80);
  --grmblgbr--sys--on-primary: var(--grmblgbr--ref--palette--p20);
  
  --grmblgbr--sys--secondary: var(--grmblgbr--ref--palette--s80);
  --grmblgbr--sys--on-secondary: var(--grmblgbr--ref--palette--s20);
  
  --grmblgbr--sys--tertiary: var(--grmblgbr--ref--palette--t80);
  --grmblgbr--sys--on-tertiary: var(--grmblgbr--ref--palette--t20);
  
  --grmblgbr--sys--error: var(--grmblgbr--ref--palette--e80);
  --grmblgbr--sys--on-error: var(--grmblgbr--ref--palette--e20);
  
  --grmblgbr--sys--primary-container: var(--grmblgbr--ref--palette--p30);
  --grmblgbr--sys--on-primary-container: var(--grmblgbr--ref--palette--p90);
  
  --grmblgbr--sys--secondary-container: var(--grmblgbr--ref--palette--s30);
  --grmblgbr--sys--on-secondary-container: var(--grmblgbr--ref--palette--s90);
  
  --grmblgbr--sys--ternary-container: var(--grmblgbr--ref--palette--t30);
  --grmblgbr--sys--on-ternary-container: var(--grmblgbr--ref--palette--t90);
  
  --grmblgbr--sys--error-container: var(--grmblgbr--ref--palette--e30);
  --grmblgbr--sys--on-error-container: var(--grmblgbr--ref--palette--e90);
  
  --grmblgbr--sys--surface-dim: var(--grmblgbr--ref--palette--n5);
  --grmblgbr--sys--surface: var(--grmblgbr--ref--palette--n5);
  --grmblgbr--sys--surface-bright: var(--grmblgbr--ref--palette--n20);
  --grmblgbr--sys--surface-container-lowest: var(--grmblgbr--ref--palette--n5);
  --grmblgbr--sys--surface-container-low: var(--grmblgbr--ref--palette--n10);
  --grmblgbr--sys--surface-container: var(--grmblgbr--ref--palette--n10);
  --grmblgbr--sys--surface-container-high: var(--grmblgbr--ref--palette--n20);
  --grmblgbr--sys--surface-container-highest: var(--grmblgbr--ref--palette--n20);
  
  --grmblgbr--sys--on-surface: var(--grmblgbr--ref--palette--n90);
  --grmblgbr--sys--outline: var(--grmblgbr--ref--palette--n80);
  --grmblgbr--sys--outline-variant: var(--grmblgbr--ref--palette--n60);
  
  --grmblgbr--sys--inverse-surface: var(--grmblgbr--ref--palette--n90);
  --grmblgbr--sys--on-inverse-surface: var(--grmblgbr--ref--palette--n20);
  --grmblgbr--sys--inverse-primary: var(--grmblgbr--ref--palette--p40);
  
  --grmblgbr--sys--shadow: var(--grmblgbr--ref--palette--n0);

  body {
    background-color: var(--grmblgbr--sys--surface);
  }
}
