$grmblgbr--sys--primary: $grmblgbr--ref--palette--p80;
$grmblgbr--sys--on-primary: $grmblgbr--ref--palette--p20;

$grmblgbr--sys--secondary: $grmblgbr--ref--palette--s80;
$grmblgbr--sys--on-secondary: $grmblgbr--ref--palette--s20;

$grmblgbr--sys--tertiary: $grmblgbr--ref--palette--t80;
$grmblgbr--sys--on-tertiary: $grmblgbr--ref--palette--t20;

$grmblgbr--sys--error: $grmblgbr--ref--palette--e80;
$grmblgbr--sys--on-error: $grmblgbr--ref--palette--e20;

$grmblgbr--sys--primary-container: $grmblgbr--ref--palette--p30;
$grmblgbr--sys--on-primary-container: $grmblgbr--ref--palette--p90;

$grmblgbr--sys--secondary-container: $grmblgbr--ref--palette--s30;
$grmblgbr--sys--on-secondary-container: $grmblgbr--ref--palette--s90;

$grmblgbr--sys--ternary-container: $grmblgbr--ref--palette--t30;
$grmblgbr--sys--on-ternary-container: $grmblgbr--ref--palette--t90;

$grmblgbr--sys--error-container: $grmblgbr--ref--palette--e30;
$grmblgbr--sys--on-error-container: $grmblgbr--ref--palette--e90;

$grmblgbr--sys--surface-dim: $grmblgbr--ref--palette--n5;
$grmblgbr--sys--surface: $grmblgbr--ref--palette--n5;
$grmblgbr--sys--surface-bright: $grmblgbr--ref--palette--n20;
$grmblgbr--sys--surface-container-lowest: $grmblgbr--ref--palette--n5;
$grmblgbr--sys--surface-container-low: $grmblgbr--ref--palette--n10;
$grmblgbr--sys--surface-container: $grmblgbr--ref--palette--n10;
$grmblgbr--sys--surface-container-high: $grmblgbr--ref--palette--n20;
$grmblgbr--sys--surface-container-highest: $grmblgbr--ref--palette--n20;

$grmblgbr--sys--on-surface: $grmblgbr--ref--palette--n90;
$grmblgbr--sys--outline: $grmblgbr--ref--palette--n80;
$grmblgbr--sys--outline-variant: $grmblgbr--ref--palette--n60;

$grmblgbr--sys--inverse-surface: $grmblgbr--ref--palette--n90;
$grmblgbr--sys--on-inverse-surface: $grmblgbr--ref--palette--n20;
$grmblgbr--sys--inverse-primary: $grmblgbr--ref--palette--p40;

$grmblgbr--sys--shadow: $grmblgbr--ref--palette--n0;