.grumblingbear-btn {
  /* default primary */
  background: var(--grmblgbr--sys--primary);
  border: 1px solid var(--grmblgbr--sys--primary);
  border-radius: 100px;
  color: var(--grmblgbr--sys--on-primary);
  font-size: 14px;
  padding: 10px 24px;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    opacity: 0.92;
  }

  &:focus {
    border-color: var(--grmblgbr--sys--inverse-primary);
  }

  &:hover, &:focus {
    box-shadow: var(--grmblgbr--elevation);
  }

  &:not(:disabled):hover {
    background: var(--grmblgbr--sys--primary);
  }

  &.is-outline {
    background: transparent;
    border-color: var(--grmblgbr--sys--outline);
    color: var(--grmblgbr--sys--primary);

    &:hover {
      background: var(--grmblgbr--sys--state-layer--primary-008);
    }

    &:focus {
      background: rgba(103, 80, 164, 0.12);
      border-color: var(--grmblgbr--sys--primary);
    }
  }

  &.is-tonal {
    background: var(--grmblgbr--sys--secondary-container);
    border-color: var(--grmblgbr--sys--secondary-container);
    color: var(--grmblgbr--sys--on-secondary-container);

    &:hover {
      background: var(--grmblgbr--ref--palette--s80);
      border-color: var(--grmblgbr--ref--palette--s80);
    }
  }

  &:disabled, &.disabled {
    color: var(--grmblgbr--sys--on-surface);
    opacity: 0.30;
  }
}